body {
  min-height:100vh;
  overflow: hidden;
  overflow-y: scroll
}

html {
  background-color:(0,0,0,1);
  height:100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
}

.startLight {
  height:100vh;
  width: 100%;
  background-color:rgb(122, 195, 218);
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url('https://i.ibb.co/fkn6f5W/daytime.png');
  background-size: 1200px;
}

.dark,
.light {
  height:100vh;
  width: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 1200px;
  
}

/* Assign animation for change from nighttime to daytime*/
.light {
  animation: slideToLight 3s ease forwards 1;
}

/* Assign animation for change from daytime to nighttime */
.dark {
  animation: slideToDark 3s ease forwards 1;
}

/* Animation effect change from daytime to nighttime */
@keyframes slideToDark{
  0%{
    background-image: url('https://i.ibb.co/fkn6f5W/daytime.png');
    background-color:rgb(122, 195, 218);
  }
  100%{
    background-image: url('https://i.ibb.co/WWfHv5F/nighttime.png');
    background-color:rgb(2, 3, 32);
  }
}

/* Animation effect change from nighttime to daytime */
@keyframes slideToLight{
  0%{
    background-image: url('https://i.ibb.co/WWfHv5F/nighttime.png');
    background-color:rgb(2, 3, 32);
  }
  100%{
    background-image: url('https://i.ibb.co/fkn6f5W/daytime.png');
    background-color:rgb(122, 195, 218);
  }
}

/* Styling for all buttons & dropdown menus */
.buttonstartLight,
.buttonlight,
.filterstartLight,
.filterlight,
.buttondark,
.filterdark,
.button {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 17px;
  text-align: center;
  width: 175px;
  margin-top: 4px;
  margin-bottom: 4px;
  border:ridge;
  border-radius: 25px;
  border-color: rgb(122, 195, 218, 0.2);;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.9);
  height: 30px;
}

/* Style of button when on or toggled to 'daytime' */
.buttonstartLight,
.buttonlight,
.filterstartLight,
.filterlight {
  background-color: rgba(2, 3, 29, 0.774);
  color: rgb(156, 217, 236);
}

/* Style of button when on or toggled to 'nighttime' */
.buttondark,
.filterdark {
  background-color: rgba(26, 85, 134, 0.774);
  color: rgb(255, 255, 255);
}

/* Hoover effect for all buttons/drowpdown menus */
.buttonstartLight:hover,
.buttonlight:hover,
.filterstartLight:hover,
.filterlight:hover,
.buttondark:hover,
.filterdark:hover,
.button:hover
 {
  -webkit-transform: translate(2.5%, 10%);
  transform: translate(2.5%, 10%);
}

/* Container holds all balloons and has the bobbing animation assigned to it. */
.container {
  margin-top: 20px;
  width: 100vw;
  height: 200px;
  position: relative;
  text-align-last: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* Adjust height, set positioning and add animation effect to balloons */
.balloon {
  height:200px;
  animation:moveupanddown 25s ease forwards infinite;
  position:relative;
}

/* Adjust where each balloon will appear on the screen */
.balloon:nth-child(1) {
  top:30px;
}

.balloon:nth-child(2) {
  top:70px;
}

.balloon:nth-child(3) {
  top: 10px;
}

.balloon:nth-child(4) {
  top:80px;
}

.balloon:nth-child(5) {
  top:40px;
}

.balloon:nth-child(6) {
  top:90px;
}


/* Animation effect for balloon bobbing up and down */
@keyframes moveupanddown {
  0%{
    transform:translatey(-20px)
  }
  10%{
    transform:translatey(20px);
  }
  20%{
    transform:translatey(-20px);
  }
  30%{
    transform:translatey(20px);
  }
  40%{
    transform:translatey(-20px);
  }
  50%{
    transform:translatey(20px)
  }
  60%{
    transform:translatey(-20px);
  }
  70%{
    transform:translatey(20px)
  }
  80%{
    transform:translatey(-20px);
  }
  90%{
    transform:translatey(20px);
  }
  100%{
    transform:translatey(-20px)
  }
}

.balloon {
  cursor: crosshair;
}

.poster-img {
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1; 
}

.card-content {
  background-color: aliceblue;
  width: 40%;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  opacity: 0.9;
  border-radius: 25px;
  padding: 10px;
  z-index: 1;
}

.overview,
.genre {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleheader {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 40px;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
}

.button {
  margin-left: 15px;
  margin-right: 15px;
}

.watchListlight,
.watchListstartLight {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  display: inline-flex;
  padding-left: 15%;
}
.watchListdark {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  display: inline-flex;
  display: center;
  padding-left: 15%;
}

.gift {
  font-family: 'Annie Use Your Telescope', cursive;
  width: 125px;
  text-align: center;
  background-color: rgba(40, 122, 105, 0.2);
  padding-left: 10px;
  padding-right:10px;
}

/* .gift {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  height: 120px;
  font-family: 'Annie Use Your Telescope', cursive;
  margin-left: 10px;
  margin-right: 10px;
} */

img.giftbox {
  width:60px;
  margin-top:10px;
}

.giftTitle {
  padding: 0%;
  margin:0%;
  font-size: 20px;
}

/* 
background-color: rgba(2, 3, 29, 0.774);
color: rgb(156, 217, 236);



background-color: rgba(26, 85, 134, 0.774);
color: rgb(255, 255, 255); */
